In [1]:
import numpy as np
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
url = 'postgresql://postgres:admin@host.docker.internal:5434/postgres'
engine = create_engine(url)

In [8]:
df_train = pd.read_sql_query('SELECT * FROM home_credit_default_risk_application_train_ok', con=engine)
df_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,191356,0,Cash loans,M,Y,Y,0,450000.0,1190340.0,63418.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
1,191357,0,Cash loans,F,Y,N,0,225000.0,562500.0,22437.0,...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,7.0
2,191358,0,Cash loans,M,Y,Y,0,225000.0,1190340.0,66595.5,...,0,0,0,0,0.0,0.0,0.0,5.0,0.0,5.0
3,191361,0,Cash loans,F,N,Y,1,247500.0,516069.0,21996.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
4,191363,0,Cash loans,M,N,Y,0,292500.0,647046.0,20871.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

In [9]:
df_test = pd.read_sql_query('SELECT * FROM home_credit_default_risk_application_test_ok', con=engine)
df_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,306030,Cash loans,F,N,N,0,76500.0,675000.0,25447.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

In [10]:
drop_columns = []
for col in df_train.columns:
    null_pct = df_train[col].isna().sum() / len(df_train)
    if null_pct > 0.06:
        drop_columns.append(col)

df_train_ok = df_train.drop(drop_columns, axis=1)
df_train_ok.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,191356,0,Cash loans,M,Y,Y,0,450000.0,1190340.0,63418.5,...,0,0,0,0,0,0,0,0,0,0
1,191357,0,Cash loans,F,Y,N,0,225000.0,562500.0,22437.0,...,0,0,0,0,0,0,0,0,0,0
2,191358,0,Cash loans,M,Y,Y,0,225000.0,1190340.0,66595.5,...,0,0,0,0,0,0,0,0,0,0
3,191361,0,Cash loans,F,N,Y,1,247500.0,516069.0,21996.0,...,0,0,0,0,0,0,0,0,0,0
4,191363,0,Cash loans,M,N,Y,0,292500.0,647046.0,20871.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_test_ok = df_test.drop(drop_columns, axis=1)
df_test_ok.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0,0,0,0,0,0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0,0,0,0,0,0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0,0,0,0,0,0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0,0,0,0,0,0
4,306030,Cash loans,F,N,N,0,76500.0,675000.0,25447.5,675000.0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
X_train = df_train_ok.drop(columns=['TARGET'],axis=1)
y_train = df_train_ok['TARGET']
X_test = df_test_ok

In [15]:
# numerical
num = X_train.select_dtypes(exclude='object').columns

# Categorical
cat = X_train.select_dtypes(include='object').columns

In [18]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LogisticRegression
from imblearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

from sklearn.metrics import precision_recall_fscore_support

In [19]:
cat_transformer = Pipeline([
    ("c_i", SimpleImputer(strategy="most_frequent")),
    ("e", OneHotEncoder(handle_unknown = "ignore"))
])

num_transformer = Pipeline([
    ("n_i", SimpleImputer(strategy="median"))
])

transformers = [
    ("n_t", num_transformer, num),
    ("c_t", cat_transformer, cat)
]

model = Pipeline([
    ("pre", ColumnTransformer(transformers=transformers)),
    ("model", LogisticRegression(max_iter=1000, random_state=1))
])

In [20]:
model.fit(X_train, y_train)

d:\Final_Project\venv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('pre',
                 ColumnTransformer(transformers=[('n_t',
                                                  Pipeline(steps=[('n_i',
                                                                   SimpleImputer(strategy='median'))]),
                                                  Index([], dtype='object')),
                                                 ('c_t',
                                                  Pipeline(steps=[('c_i',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('e',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALT...
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'],
      dtype='object'))])),
                ('model', LogisticRegression(max_iter=1000, random_state=1))])

In [22]:
y_test = model.predict(X_test)

In [23]:
y_prob = model.predict_proba(X_test)

In [24]:
ml_result = X_test[['SK_ID_CURR']]

# add ml result
ml_result['prediction_target'] = y_test.tolist()
ml_result['probability'] = y_prob.tolist()

ml_result

C:\Users\aldos\AppData\Local\Temp\ipykernel_16648\1964360560.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_result['prediction_target'] = y_test.tolist()
C:\Users\aldos\AppData\Local\Temp\ipykernel_16648\1964360560.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_result['probability'] = y_prob.tolist()

      SK_ID_CURR prediction_target                                 probability
0         100001                 0   [0.9828488143166078, 0.01715118568339226]
1         100005                 0   [0.9551708140061476, 0.04482918599385249]
2         100013                 0   [0.9326851190475368, 0.06731488095246316]
3         100028                 0    [0.949751127007178, 0.05024887299282197]
4         306030                 0    [0.8511517811188657, 0.1488482188811343]
...          ...               ...                                         ...
48739     306003                 0  [0.9826237787035962, 0.017376221296403767]
48740     306012                 0  [0.9738004935115715, 0.026199506488428528]
48741     306016                 0  [0.9915437458656196, 0.008456254134380394]
48742     306021                 0  [0.9855487928933495, 0.014451207106650465]
48743     306025                 0  [0.9835031958079608, 0.016496804192039298]

[48744 rows x 3 columns]

In [26]:
ml_result.to_sql('home_credit_default_risk_application_ml_result', index=False, con=engine, if_exists='replace')

744